<h1>Edit a Contact</h1>
<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <fieldset>

    <ul class="list1">

      <li>
        <label for=name>First Name</label>
        <input type="text" class="my_input" placeholder="Carrie" name="first_name" value="<%= @contact.first_name %>">
      </li>
      <li>  
        <label for=name>Last Name</label>
        <input type="text" class="my_input" placeholder="Bradshaw" name="last_name" value="<%= @contact.last_name %>">
      </li>
      <li>
        <label for=email>Email</label>
        <input type="email" class="my_input" placeholder="satc@gmail.com" name="email" value="<%= @contact.email %>">
      </li>
    </ul>  
  </fieldset>



  <fieldset>

    <ul class="list2">
      <li>
        <label for=note>Note</label>
        <input type="text" class="my_note" placeholder="I couldn't help but wonder..." name="note" value="<%= @contact.note %>">
      </li>
      <li>
        <label for=status>Active</label><input type="radio" name="status" <%= "checked" if @contact.status==true%> value=true >
        <label for=status>Inactive</label><input type="radio" name="status"  <%= "checked" if @contact.status==false %> value=false>
      </li>
    </ul>
  </fieldset>
  <label><input type="submit" name="Submit"></label>


</form>